.bar{


height: 50px;

width: 200px;

background-color: rgb(235, 45, 45);

animation-name: ex;
}

/* 
.loading{
width: 10px;
height: inherit;
background-color: cornflowerblue;
transition: width 5s; 

}


.loading:hover {
    width: 200px;
} */
.loading{
    width: 10px;
    height: inherit;
    background-color: cornflowerblue;
animation-name: ex;
animation-duration: 4s;    
    }
    

    @keyframes ex{

0%{width: 10px;}

25%{width: 50px;}

75%{width: 100px;}

100%{width: 200px;}


    }